body {
	background-color: purple;
	border: 100px solid black; 
	margin: 10px;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	width: 100%;
}

h1 {
	font-size: 40px;
	text-align: center;
}

div.col-sm1 {border: 10px;
padding: 10px;
margin: 25px;}

ul.nav-main	{
	margin: 10;
	padding: 10;
	list-style-type: 1;
	text-align: center;
}

ul.nav-main li {
	display: inline;
}

/* ALL buttons begin with .btn */
.btn-default {
	padding: 10px;
	border: 1px solid blue;
	border-width: 0px
	border-radius: 4px;
	background-color: #ffffff
}

img.img-right {float: right;
	margin-left: 0px;
	margin-right: 5px;
	border: 1px solid black;
}

@media all and (min-width: 360px) and (max-width: 420px){
	body {background-color: black;
	}

img.img-left {float: right;
border: 10px;
padding: 2px;}

img.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	float: right;
}

h1.name {text-align: center;}

h2.education {text-align: center;
	border: 3px solid black;
	margin: 20px;
}

h2.Profession {text-align: center;
	border: 3px solid black;
}

h2.volunteer {text-align: center;
	border: 3px solid black;
}

ul.interests {border: 5px;}